page-list {
    .card-header {
        background-color: red;
        color: black;
    }
    .card-content {
        padding: 0px 0px;
        max-height: 0px;
    }
    .contentClass {
        background-image: url("../../assets/imgs/LandingPageMockUpV3.1 - Background.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}