page-treatment {
    .contentClass {
        background-image: url("../../assets/imgs/LandingPageMockUpV3.1 - Background.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}