page-home {
    #custom-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100000;
        width: 100%;
        background-color: #002a3e;
    }
    .flb {
        background-color: #3ebffb;
        height: 100%;
        width: 100%;
        animation: pulse 1s linear forwards;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Aligner-item {
        max-width: 50%;
    }
    .Aligner-item--top {
        align-self: flex-start;
    }
    .Aligner-item--bottom {
        align-self: flex-end;
    }
    #custom-overlay img {
        display: block;
        margin: 0 auto;
        width: 80%;
        height: 80%;
        animation: animation 3100ms linear infinite both;
        animation-delay: 1s;
    }
    #cardTitle {
        position: relative;
        text-align: left;
    }
    .contentClass {
        background-image: url("../../assets/imgs/LandingPageMockUpV3.1 - Background.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .itemCardMainComponent {
        border-radius: 25px;
        padding: 0%;
    }
    .smallImage {
        position: relative;
        height: 27px;
        width: 27px;
        left: 7px;
    }
    .mainImageView {
        position: relative;
        left: 115px;
        top: 15px;
        height: 85px;
        width: 59%;
    }
    .paragraph{
      text-align: center;
      text-shadow: 3px;
      color: #32db64;
      float: center;
    }

    .paragraphDown{
      text-align: center;
      text-shadow: 3px;
      color: #32db64;
    }

    .tipPrase{
      text-shadow: 3px;
      color: #1e2c23;
      padding-top: 125px;
      text-align: center;
    }



}
