.contentClass {
    background-image: url("../../assets/imgs/LandingPageMockUpV3.1 - Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.bodyMapItems {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    border-radius: 25px;
}

.smallImageBodyMap {
    position: relative;
    height: 50px;
    width: 50px;
    left: 10px;
}

.bodyMapCard {
    border-radius: 35px;
    // background: transparent;
}

.paragraphTitle {
    text-align: center;
    float: center;
}

.bodyImageBM {
    height: 395px;
    background: transparent;
}