.contentClass {
    background-image: url("../../assets/imgs/LandingPageMockUpV3.1 - Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.smthelse{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}