.contentClass {
    background-image: url("../../assets/imgs/LandingPageMockUpV3.1 - Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.smthelse{
    width: 150px;
    border-radius: 50px;
}

.smallImage{
    position: relative;
    right:10px;
    width: 30px;
    height: 30px;
}

.paragraphy{
    text-align: center;
    text-shadow: 3px;
    color: #32db64;
    float: center;
    font-size: 2px;
  }