page-list-of-treatment-desease {
    .contentClass {
        background-image: url("../../assets/imgs/LandingPageMockUpV3.1 - Background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
}
